html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

/* Основные цвета */
:root {
  --white: #ffffff;
  --neutral: #EEEEEE;
  --yellow: #EFC849;
  --bricht-yellow: #EAB534;
  --dark-yellow:#E5A722;
  --green:#00CA74;
  --bricht-green:#00BC6C;
  --dark-green:#00AA62;
  --red: #FB565A;
  --bright-red:#E74246;
  --dark-red:#D7373B;
  --light-gray:#EEEEEE;
  --gray: #283136;
  --black: #000000;
  --roboto:"Roboto", Arial, sans-serif;
  --font-size:16px;
  --font-lineheight:24px;
}

/* Базовые стили */
body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  font-size: 16px;
  font-weight:400;
  line-height: 24px;
  color: #283136;
  min-width: 1157px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Утилитарные классы */

.reset-ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Отступы h,p */
.r-indent{
margin:0 ;
padding: 0;
 }


/* Компонент */
.button{
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
   color:#ffffff;
   text-decoration: none;
   font-weight: 500;
   line-height: 18px;
   outline: none;
   border-radius: 3px;
   border: 0;
   padding-top: 17px;
   padding-bottom: 16px;
   padding-right: 40px;
   padding-left: 39px;
   transition: all 0.3s ease-in-out;

   /* padding: 17px 40px 16px 39px; */

   }

   .button:active{
     color:rgba(255, 255, 255, 0.3);
     box-shadow: inset 3px 0px rgba(0, 1, 1, 0.1);
   }

   /* Модификаторы */

   /* Не получилось прописать цвет через переменные */
   .button-red{
    background-color:#FB565A;
  }

  .button-green{
    background-color:#00CA74;
  }
  .button-yellow{
    background-color: #EFC849;
  }
  .button-gray{
    background-color:  #283136;
    color:var(--black)
  }


   /* Состояния */

   .button-red:hover,
   .button-red:focus{
     background-color: #E74246;
   }
   .button-red:active{
     background-color: #D7373B;
   }

   .button-green:hover,
   .button-green:focus{
     background-color: #00BC6C;
   }
   .button-green:active{
     background-color: #00AA62;
   }

   .button-yellow:hover,
   .button-yellow:focus{
     background-color: #EAB534;
   }
   .button-yellow:active{
     background-color: #E5A722;}

     .button-gray:hover,
     .button-gray:focus{
      background-color: #DFDFDF;
         }

     .button-gray:active{
       background-color: #D5D5D5;

     }








   /* Секция-header */
   .header{
     background-color:#EEEEEE;
   }


   /* Блок-menu */
   .menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .menu_link,
   .actions_link{
     text-transform: uppercase;
     font-weight: 500;
     color: #000;
     transition: all 0.3s ease-in-out;
   }

   .menu_link:hover,
   .menu_link:focus,
   .actions_link:hover,
   .actions_link:focus{
     color:#FB565A;
   }


   .menu_link:active,
   .actions_link:active{
     color: rgba(0, 0, 0, 0.3);

   }




   /* Секция-slider */
   .slider{
     background-color:var(--light-gray);
   }

   .social_link{
     width: 81px;
     height: 81px;
     border-radius: 50%;
     background-color: #E1E1E1;
     display: flex;
     justify-content:center ;
     align-items: center;
     transition: all0.3s ease-in-out;

   }

   .social_link:hover,
   .social_link:focus{
     background-color:#E74246;

   }

   .social_link:active{
     background-color:#D7373B;
     box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

   }
   .social_link:active.social_img{
     opacity: 0.3;
   }


   /* Секция-partners */
   /* не работает */


   .partners_link{
    background-color: rgba(0, 0, 0, 0.2);
   }
   .partners_link:hover,
   .partners_link:focus{
     background-color: rgba(0, 0, 0, 0);
     transition: all 0.3s ease-in-out;
   }

   .partners_link:active{
   background-color: rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-in-out;
   }










