
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

/* Основные цвета */
:root {
  --white: #ffffff;
  --neutral: #EEEEEE;
  --yellow: #EFC849;
  --bricht-yellow: #EAB534;
  --dark-yellow:#E5A722;
  --green:#00CA74;
  --bricht-green:#00BC6C;
  --dark-green:#00AA62;
  --red: #FB565A;
  --bright-red:#E74246;
  --dark-red:#D7373B;
  --light-gray:#EEEEEE;
  --gray-social:#E1E1E1;
  --gray: #283136;
  --dark-gray:#D5D5D5;
  --black: #000000;
  --roboto:"Roboto", Arial, sans-serif;
  --font-size:16px;
  --font-lineheight:24px;
}

/* Базовые стили */
body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  font-size: 16px;
  font-weight:400;
  line-height: 24px;
  color: var(--gray);
  min-width: 1157px;


  /* min-height: 100%;  */
  /* Нужно ли прописать мин высоту, как в лайве? */
}

a{
  text-decoration: none;
  color: #000000;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Утилитарные классы */

.reset-ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Отступы h,p */
.r-indent{
margin:0 ;
padding: 0;
 }

 .visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/*
/* Компонент */
.button{
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
   color:var(--white);
   text-decoration: none;
   font-weight: 500;
   line-height: 18px;
   outline: none;
   border-radius: 3px;
   border: 0;
   padding-top: 17px;
   padding-bottom: 16px;
   padding-right: 40px;
   padding-left: 39px;
   transition: all 0.3s ease-in-out;
   display: inline-block;

   /* padding: 17px 40px 16px 39px; */

   }

   .button:active{
     color:rgba(255, 255, 255, 0.3);
     box-shadow: inset 3px 0px rgba(0, 1, 1, 0.1);
   }

   /* Модификаторы */

   .button-red{
    background-color:var(--red);
  }

  .button-green{
    background-color:var(--green);
  }
  .button-yellow{
    background-color: var(--yellow);
  }
  .button-gray{
    background-color:  var(--gray);
    color:var(--black)
  }


   /* Состояния */

   .button-red:hover,
   .button-red:focus{
     background-color: var(--bright-red);
   }
   .button-red:active{
     background-color: var(--dark-red);
   }

   .button-green:hover,
   .button-green:focus{
     background-color: var(--bricht-green);
   }
   .button-green:active{
     background-color: var(--dark-green);
   }

   .button-yellow:hover,
   .button-yellow:focus{
     background-color: var(--bricht-yellow);
   }
   .button-yellow:active{
     background-color: var(--dark-yellow);
    }

     .button-gray:hover,
     .button-gray:focus{
      background-color: var(--light-gray);
         }

     .button-gray:active{
       background-color: var(--dark-gray);
       color: rgba(0, 0, 0, 0.3);

     }



   /* Секция-header */
   .header{
     grid-area: header;
     background-color:var(--light-gray);
     /* min-height: 355px; */
   }

   .logo_image:hover,
   .logo_image:focus {
     color: var(--black);
   }
   .logo_image:active {
     opacity: 0.3;
     transition: all 0.3s ease-in-out;
   }





   /* Блок-menu */
   .menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .menu_link,
   .actions_link{
     text-transform: uppercase;
     font-weight: 500;
     color:var(--black);
     transition: all 0.3s ease-in-out;
   }

   .menu_link:hover,
   .menu_link:focus,
   .actions_link:hover,
   .actions_link:focus{
     color:#FB565A;
   }


   .menu_link:active,
   .actions_link:active{
     color: rgba(0, 0, 0, 0.3);
   }


   /* Секция-slider */
   .slider{
     background-color:var(--light-gray);
     min-width: 1157px;
     background-image: url("img/header/slider_1");
     background-repeat: no-repeat;
     background-position: right;

      }

      /* .slider {
        position: relative;
         text-align: left;

      } */

    .slide_title{
      font-size: 55px;
      line-height: 55px;
     background-color: var(--light-gray);
     margin: 0;
     /* padding: 50; */}

     .name-catalog {
      padding-top: 42px;
      font-size: 55px;
      padding-bottom: 74px;
      text-align: center;
    }




    .catalog {
      display: grid;
      grid-template-columns: 200px 758px;
      justify-content: space-between;
    }
    .sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sort-list {
      display: flex;
    }

    .products {
      display: grid;
      grid-template-columns: 360px 360px;
      justify-content: space-between;
      grid-row-gap: 32px;

    }

    .pagination {
      display: flex;
      padding-top: 55px;
      padding-bottom: 60px;
    }

    .pagination_item:not(:last-child) {
      margin-right: 11px;
    }
    .next {
      width: auto;
      padding-left: 78px;
      padding-right: 77px;

    }




    /* Секция-social */

   .social_link{
     width: 81px;
     height: 81px;
     border-radius: 50%;
     background-color: var(--gray-social);
     display: flex;
     justify-content:center ;
     align-items: center;
     transition: all 0.3s ease-in-out;
   }

   .social_link:hover,
   .social_link:focus{
     background-color: var(--red);
   }

   .social_link:active {
     background-color:#D7373B;
     box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   }


   .social_link:active .social_img {
    opacity: 0.3;
   }











   /* Секция-partners */




   .partners_link{

     list-style: none;
     padding: 0;
     margin: 0;

   }

   .partners_link {
     display: block;
   }

   .partners_image {
     color: var(--black);
     opacity: 0.2;
     transition: all 0.3s ease-in-out;
   }
   .partners_image:hover,
   .partners_image:focus {
     opacity: 1;
     transition: inherit;
   }
   .partners_image:active {
     opacity: 0.3;
     transition: inherit;
   }



 .services_name{
  text-transform: uppercase;
  font-size: 24px;
  padding-top:25px ;
  padding-bottom: 16px;

   }

   .services_text {
    padding-bottom: 32px;
   }

 .about_subtitle{
   text-transform: uppercase;


 }
 .about_subtitle_1 {
  padding-top: 40px;
  text-transform: uppercase;
 }






/* Секция-footer */
 .footer-info_title {
   font-size: 36px;
   line-height: 36px;
 }
 .footer {
   grid-area: footer;
 }


/* Секция-catalog */
 .sort_link {
   font-size: 14px;
   left: 18px;
   text-transform: uppercase;
   color: var(--black);
   opacity: 0.3;
 }

 .sort_link:hover,
 .sort_link:focus {
   color: var(--black);
   opacity: 0.6;
   transition: all 0.3s ease-in-out;
 }

 .sort_link:active {
opacity: 1;
transition: all 0.3s ease-in-out;
 }

 .filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}




 .catalog_title {
   text-transform: uppercase;

 }

 .products-item_cover {
  color: #4D4D4D;
  opacity: 0.12;

 }

 .products-item_cover:hover,
 .products-item_cover:focus {
   color:#4D4D4D;
   opacity: 1;
   transition: all 0.3s ease-in-out;
 }

  .products-item {
   display: flex;
   flex-direction: column;
   position: relative;
   overflow: hidden;

 }

 .products-item_description {
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #EEEEEE;
   width: 100%;
   transform: translateY(100%);
   transition: all 0.3s ease-in-out;

 }

 .products-item:hover .products-item_description {
   transform: translateY(0);
 }
 .products-item_description {
   min-height: 231px;
   text-align: center;
 }
 .products-item_text {
   padding: 12px 53px 32px 52px;
 }



 .pagination_link{
   width: 50px;
   height: 50px;
   border-radius: 3px;
   background-color: var(--light-gray);
   transition: all0.3s ease-in-out;
   display: flex;
   align-items: center;
   justify-content:center ;
   font-size: 16px;
   line-height: 18px;
   color: var(--black);

}
/* Не совсем */
.pagination_link:hover {
  background-color: #DFDFDF;
  transition: all 0.3s ease-in-out;
}

.pagination_link:focus {
  background-color: var(--dark-gray);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.pagination_link:active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}



.container {
  max-width: 1157px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.services_list {
  min-height: 507px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  padding-right: 60px;


}

.about {
  display: grid;
  grid-template-columns: 660px 390px;
  justify-content: space-between;
}


.partners_list {
  display:grid;
  grid-template-columns: 281px 300px 300px 279px;
  align-items: center;
}


.partners_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {

  min-height: 416px;
  background: url("../img/footer-info/map.jpg")  ;
  position: relative;
}

.contacts_block {
  max-width: 319px;
   position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--white);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;

}


.footer-info {
  display: grid;
  grid-template-columns: 261px 758px ;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu {
  max-width:437px ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


  }

.about-stats {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-adress {
padding-left: 50px;
padding-right: 39px;
padding-bottom: 16px;
}


.contacts-title {
  padding-bottom: 23px;
}

.products-item_button {
  color: #ffffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 72px 15px 72px;

}
.products-item_button:hover,
.products-item_button:focus {
  background-color: #E74246;
  transition: all 0.3s ease-in-out;
}

.products-item_button:active {
background-color: #D7373B;
transition: all 0.3s ease-in-out;
}

.about {
  min-height: 525px;

 }

 .about_title {
   font-size: 45px;
   line-height: 45px;
   margin-bottom: 32px;

 }

.services_item {
  padding-top: 80px;


}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
   width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.slide {
   display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-color: #ffffff;
}


.slider_1 {
  background-image: url(img/header/slider_1);
}

.slider_2 {
  background-image: url(img/header/slider_2);
}

.slider_3 {
  background-image: url(img/header/slider_3);
}

.modal {
  display: none;
}

.about-stats_value {
  font-size: 45px;
  line-height: 64px;

}
.about_item {
  position: relative;
  padding-left: 37px;
  }

.about_item:not(:last-child) {
  margin-bottom: 30px;
}

.about_item::before {
  position: absolute;
  content:" " ;
  left: 0px;
  width: 25px;
  height: 2px;
  background: #FB565A;
  top: 50%;
  transform: translateY(-50%);

}

.actions_link {
  position: relative;
  padding-left: 40px;
}

.actions_link::before {
  position: absolute;
  content: " ";
  left: 0px;
  width: 15px;
  height: 15px;
  background: url(../img/header/cart-icon.svg) no-repeat center;
  top: 50%;
  transform: translateY(-50%);

}

.about-column:nth-child(2) {
  padding-top: 38px;
}

.about-column:nth-child {
  padding-top: 38px;
}

.form-fields {
list-style: none;
}

.button_catalog {
  color: #000000;
  background-color: #cfcfcf;
}

.legend {
 text-transform: uppercase;
 align-items: center;
 font-size: 18px;
line-height: 30px;
font-weight: bold;
}


.map-point {
  position: absolute;
  top: 86px;
  right: 387px;
  width: 231px;
  height: 190px;
}

.button_gray {
color: var(--black);
background-color: var(--light-gray);
width: 260px;
height: 50px;

}























